[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "immersive-yapping-submix-effect"]
	path = immersive-yapping-submix-effect
	url = https://github.com/TaimBak/immersive-yapping-submix-effect.git
